@{
    ViewBag.Title = "Upload";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Upload Slider
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" id="sispk_form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Judul <span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="SLIDER_JUDUL" id="SLIDER_JUDUL" class="form-control wajib">
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
										<label class="control-label col-md-3">Gambar Slider Besar</label>
										<div class="col-md-9">
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-preview thumbnail imgbesar" data-trigger="fileinput" style="width: 500px; height: 150px; line-height: 200px;"></div>
												<div>
													<span class="btn default btn-file">
													<span class="fileinput-new">
													Pilih Gambar </span>
													<span class="fileinput-exists">
													Ganti </span>
													<input type="hidden" value="" name="SLIDER_IMAGE_BIG_PATH" id="SLIDER_IMAGE_BIG_PATH"><input type="file" name="ImageBesar" id="ImageBesar" accept='image/*'>
													</span>
													<a href="javascript:;" class="btn red fileinput-exists" id="fileinput-exists-besar" data-dismiss="fileinput">
													Hapus </a>
												</div>
											</div>
											<div class="clearfix margin-top-10">
												<span class="label label-danger">
												NOTE! </span>
												&nbsp;&nbsp;Image preview hanya muncul pada IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. untuk browser yang selain itu hanya nama file yang muncul.
											</div>
										</div>
					    </div>
                        
                        <div class="form-group ">
										<label class="control-label col-md-3">Gambar Slider Kecil</label>
										<div class="col-md-9">
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;"></div>
												<div>
													<span class="btn default btn-file">
													<span class="fileinput-new">
													Pilih Gambar </span>
													<span class="fileinput-exists">
													Ganti </span>
													<input type="hidden" value="" name="SLIDER_IMAGE_SMALL_PATH" id="SLIDER_IMAGE_SMALL_PATH"><input type="file" name="ImageKecil" id="ImageKecil" accept='image/*'>
													</span>
													<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
													Hapus </a>
												</div>
											</div>
											<div class="clearfix margin-top-10">
												<span class="label label-danger">
												NOTE! </span>
												&nbsp;&nbsp;Image preview hanya muncul pada IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. untuk browser yang selain itu hanya nama file yang muncul.
											</div>
										</div>
					    </div>                        

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn green" type="submit">Simpan</button>
                                <a class="btn red" type="button" href="@Url.Action("index")">Batal</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<script>
    $('#ImageBesar').bind('change', function () {
        //var view_img_besar = $("#SLIDER_IMAGE_BIG_PATH").val();
        var file_size = this.files[0].size / 1024 / 1024;
        if (file_size > 1) {
            alert('Gambar Terlalu Besar');
            $('#fileinput-exists-besar').click();
        }
    });
</script>

