
<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/admin/pages/css/error.css")">
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number" style="top:0px;">
            <i class="fa fa-warning" style="font-size:100px;"></i>
        </div>
        <div class="details">
            <h3>Maaf</h3>
            <p>
                Anda Tidak Mempunyai Akses Kehalaman ini<br>
                <a href="@ViewBag.returnurl" style="color:red;">Klik Disini </a><br />
                Untuk kembali kehalaman sebelumnya.
            </p>
        </div>
    </div>
</div>
