@{
    ViewBag.Title = "ctk_usulan_baru";


    //Response.ContentType = "application/x-msexcel";
    //Response.AddHeader("Content-Disposition", "attachment;filename = ExcelFile.xls");

   


}

<h2>ctk_usulan_baru</h2>
