@{
    ViewBag.Title = "Laboratorium/Lembaga Inspeksi";
}
<style>
    td.details-control {
        background: url('../Images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.detailstable td.details-control {
        background: url('../Images/details_close.png') no-repeat center center;
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-md-12 ">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Daftar Laboratorium/Lembaga Inspeksi
                </div>
                <div class="actions">
                    <a class="btn btn-warning " href="@Url.Action("Create")">
                        <i class="fa fa-plus"></i>Tambah Data</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable-custom ">

                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#aktif" data-toggle="tab">Aktif</a>
                        </li>
                        <li>
                            <a href="#non-aktif" data-toggle="tab">Tidak Aktif</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="aktif">
                            <table id="ins" class="display table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="center">Nama</th>
                                        <th class="center">No LPK</th>
                                        <th class="center">No Telepon</th>
                                        <th class="center">Alamat</th>
                                        <th class="center">Batas Akhir <br /> Akreditasi</th>
                                        <th class="center">Aksi</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tab-pane" id="non-aktif">
                             <table id="ins_non" class="display table table-bordered table-hover">
                                <thead>
                                    <tr>
                                       <th></th>
                                        <th class="center">Nama</th>
                                        <th class="center">No LPK</th>
                                        <th class="center">No Telepon</th>
                                        <th class="center">Alamat</th>
                                        <th class="center">Batas Akhir <br /> Akreditasi</th>
                                        <th class="center">Aksi</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function format(d) {
        return '<table>' +
                    '<tr>' +
                    '<td style="width:140px;font-weight:bold;vertical-align:top;">No SK</td>' +
                    '<td class="text-center" style="padding-left:10px;padding-right:10px;font-weight:bold;vertical-align:top;">:</td>' +
                    '<td>' + d.LPK_NOMOR + '</td>' +
                    '</tr>' +
                     '<tr>' +
                    '<td style="width:140px;font-weight:bold;vertical-align:top;">Lingkup</td>' +
                    '<td class="text-center" style="padding-left:10px;padding-right:10px;font-weight:bold;vertical-align:top;">:</td>' +
                    '<td>' + ((d.LPK_LINGKUP == null) ? '-' : d.LPK_LINGKUP) + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="width:140px;font-weight:bold;vertical-align:top;">Kontak Person</td>' +
                    '<td class="text-center" style="padding-left:10px;padding-right:10px;font-weight:bold;vertical-align:top;">:</td>' +
                    '<td>' + d.LPK_CONTACT_PERSON + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="width:140px;font-weight:bold;vertical-align:top;">Alamat</td>' +
                    '<td class="text-center" style="padding-left:10px;padding-right:10px;font-weight:bold;vertical-align:top;">:</td>' +
                    '<td>' + d.LPK_ALAMAT + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="width:140px;font-weight:bold;vertical-align:top;">No. Telp</td>' +
                    '<td class="text-center" style="padding-left:10px;padding-right:10px;font-weight:bold;vertical-align:top;">:</td>' +
                    '<td style="vertical-align:top;">' + d.LPK_TELEPON + '</td>' +
                    '</tr>' +
                '</table>';
    }

    jQuery(document).ready(function () {
        var dt = $('#ins').DataTable({
            "processing": true,
            "serverSide": true,
            "bServerSide": true,
            "sAjaxSource": "/Portal/LembagaInspeksi/ListLembagaInspeksi?status=1",
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "Data tidak tersedia",
                "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "infoEmpty": "Menampilkan 0 Data",
                "infoFiltered": "",
                "lengthMenu": "Menampilkan _MENU_ Data",
                "search": "Pencarian:",
                "zeroRecords": "Pencarian Tidak Ditemukan",
                "sProcessing": "Proses Pengambilan Data",
            },
            "fnDrawCallback": function () {
                $('.tooltips').tooltip();
            },
            "aaSorting": [[0, "DESC"]],
            "columns": [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                    "width": "5%"
                },
                { "data": "LPK_NAMA", "width": "25%" },
                { "data": "LPK_NOMOR", "width": "12%" },
                { "data": "LPK_TELEPON", "width": "12%" },
                { "data": "LPK_ALAMAT", "width": "25%" },
                { "data": "TGL_AKHIR", "class": "center", "width": "8%" },
                { "data": "AKSI", "orderable": false, "width": "13%" }
            ]
        });

        // Array to track the ids of the details displayed rows
        var detailRows = [];

        $('#ins tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                tr.removeClass('detailstable');
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice(idx, 1);
            }
            else {
                tr.addClass('detailstable');
                row.child(format(row.data())).show();

                // Add to the 'open' array
                if (idx === -1) {
                    detailRows.push(tr.attr('id'));
                }
            }
        });

        var dtn = $('#ins_non').DataTable({
            "processing": true,
            "serverSide": true,
            "bServerSide": true,
            "sAjaxSource": "/Portal/LembagaInspeksi/ListLembagaInspeksi?status=0",
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "Data tidak tersedia",
                "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "infoEmpty": "Menampilkan 0 Data",
                "infoFiltered": "",
                "lengthMenu": "Menampilkan _MENU_ Data",
                "search": "Pencarian:",
                "zeroRecords": "Pencarian Tidak Ditemukan",
                "sProcessing": "Proses Pengambilan Data",
            },
            "fnDrawCallback": function () {
                $('.tooltips').tooltip();
            },
            "aaSorting": [[0, "DESC"]],
            "columns": [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": ""
                },
                { "data": "LPK_NAMA" },
                { "data": "LPK_NOMOR" },
                { "data": "LPK_LINGKUP_DETAIL" },
                { "data": "LPK_ALAMAT" },
                { "data": "PERIODE" },
                { "data": "AKSI", "orderable": false }
            ]
        });

        // Array to track the ids of the details displayed rows
        var detailRows = [];

        $('#ins_non tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dtn.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                tr.removeClass('detailstable');
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice(idx, 1);
            }
            else {
                tr.addClass('detailstable');
                row.child(format(row.data())).show();

                // Add to the 'open' array
                if (idx === -1) {
                    detailRows.push(tr.attr('id'));
                }
            }
        });

        // On each draw, loop over the `detailRows` array and show any child rows
        dt.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });
    });
</script>
