@{
    ViewBag.Title = "Instansi";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Daftar Instansi
                </div>
                <div class="actions">
                    <a class="btn btn-warning " href="@Url.Action("create")">
                        <i class="fa fa-plus"></i>Tambah Instansi</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabbable-custom ">
                   <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#aktif" data-toggle="tab" >Instansi Aktif </a>
                        </li>
                        <li>
                            <a href="#non-aktif" data-toggle="tab" >Instansi Tidak Aktif</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="aktif">
                            <table class="table table-striped table-bordered table-hover" id="instansi1">
                                <thead>
                                    <tr>                                        
                                        <th width="15%" class="text-center">KODE INSTANSI</th>
                                        <th width="40%" class="text-center">NAMA INSTANSI</th>
                                         @*<th width="10%" class="text-center">STATUS</th>*@                                       
                                        <th width="15%" class="text-center">AKSI</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>                 
                   
                        <div class="tab-pane" id="non-aktif">
                            <table class="table table-striped table-bordered table-hover" id="instansi2">
                                <thead>
                                    <tr>                                        
                                        <th width="15%" class="text-center">KODE INSTANSI</th>
                                        <th width="40%" class="text-center">NAMA INSTANSI</th>
                                        @*<th width="10%" class="text-center">STATUS</th>*@                                       
                                        <th width="15%" class="text-center">AKSI</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>                 
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var table1 = $('#instansi1');
        var oTable = table1.dataTable({
            "processing": true,
            "serverSide": true,
            "bServerSide": true,
            "sAjaxSource": "/Master/Instansi/ListDataInstansi?status=1",
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "Data tidak tersedia",
                "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "infoEmpty": "Menampilkan 0 Data",
                "infoFiltered": "",
                "lengthMenu": "Menampilkan _MENU_ Data",
                "search": "Pencarian:",
                "zeroRecords": "Pencarian Tidak Ditemukan",
                "sProcessing": "Proses Pengambilan Data",
            },
            "fnDrawCallback": function () {
                jsDefSetting();
                $('.kolom').css('width', '10%');
                $('.kolom2').css('width', '5%');
            },
            "columnDefs": [{
                "orderable": false,
                "targets": [2]
            }],
            "order": [
                [1, 'desc']
            ],
            "lengthMenu": [
                [5, 15, 20, 100],
                [5, 15, 20, 100]
            ],
            "pageLength": 5,
        });

        var table2 = $('#instansi2');
        var oTable = table2.dataTable({
            "processing": true,
            "serverSide": true,
            "bServerSide": true,
            "sAjaxSource": "/Master/Instansi/ListDataInstansi?status=0",
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "Data tidak tersedia",
                "info": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "infoEmpty": "Menampilkan 0 Data",
                "infoFiltered": "",
                "lengthMenu": "Menampilkan _MENU_ Data",
                "search": "Pencarian:",
                "zeroRecords": "Pencarian Tidak Ditemukan",
                "sProcessing": "Proses Pengambilan Data",
            },
            "fnDrawCallback": function () {
                jsDefSetting();
                $('.kolom').css('width', '10%');
                $('.kolom2').css('width', '5%');
            },
            "columnDefs": [{
                "orderable": false,
                "targets": [2]
            }],
            "order": [
                [1, 'desc']
            ],
            "lengthMenu": [
                [5, 15, 20, 100],
                [5, 15, 20, 100]
            ],
            "pageLength": 5,
        });
        
        var tableWrapper = $('.dataTables_wrapper');
        tableWrapper.find('.dataTables_length select').select2();
    });
 

</script>