@*@model SISPK.Models.VIEW_BIDANG*@
@{
    ViewBag.Title = "Edit Scope";

    var Model = ViewBag.dt_scope;
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Scope Detail
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered ng-pristine ng-valid" id="form-username" action="#">
                    <div class="form-body">
                       
                        <div class="form-group">
                            <label class="control-label col-md-3">Kode Scope</label>
                            <div class="col-md-9 control-label detailtext">                               
                                <div class="input-icon right">
                                    <label class="isi">@Model.SCOPE_CODE</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama Scope</label>
                            <div class="col-md-9 control-label detailtext">
                                <div class="input-icon right">
                                    <label class="isi">@Model.SCOPE_NAME</label>                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="@Url.Action("Index")" class="btn default" type="button">Kembali</a>
                                </div>
                            </div>
                        </div>
                   

                </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
